/* sticky navbar currently does not work */
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #80E6FF
}

.table {
    height: 400px;
    overflow-y: auto;
    position: relative;
}

.table-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2fa6d4;
}

.pointer {
    cursor: pointer;
}
