.page-background {
  background-color: rgb(234, 241, 245);
}

/* sticky navbar currently does not work */
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #80E6FF;
}

.table {
    height: 400px;
    overflow-y: auto;
    position: relative;
}

.table-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #b7e6f8;
}

.pointer {
    cursor: pointer;
}

.logs {
    height: 450px;
    overflow-y: auto
}